@use "@styles/variables" as *;

.nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  z-index: 100;

  border-bottom: 2px solid $secondary;
}

.navContent {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1620px;
}

.navLogo {
  font-weight: bold;
  margin-right: auto;
}

.navItems {
  display: flex;
  align-items: center;
  list-style: none;

  color: $base;
}

.navItem {
  margin-right: 2rem;
}
