@forward "normalize";
@forward "Forms";

@use "variables" as *;

* {
  min-width: 0;
}

body {
  font-family: "Archivo", system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(32, 30, 29);
  background-color: rgb(243, 242, 242);
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
    color: gray;
  }
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: var(--color-primary-dark);
  }
}
